{{#if addNewTicket}}
  <h1>New Ticket</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="name">Owner</label>
          {{input value=name id="name"}}
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          {{input value=description id="description"}}
        </div>

        <button {{action 'saveTicket'}} class="btn btn-xs btn-default">Save Ticket</button>
      </form>
    </div>
{{else}}
    <button {{action 'ticketFormShow'}} class="btn btn-xs btn-default">New Ticket</button>
{{/if}}
